<div>
  <article class="module__article container mb-5">
    <hgroup class="mb-3">
      <h1 class="h2 module__article__title">My Plan4Me Wrap up</h1>
      <h2 class="h3 module__article__title">WRAP UP</h2>
    </hgroup>

    <div class="player-wrapper mb-4">
      <ReactPlayer
        url="https://youtu.be/Ui7CfVUGOx0"
        width="100%"
      />
    </div>
  </article>
</div>
