<section class="row mb-3">
  <div class="col-12">
    <article class="module__article">
      <h1 class="h3 module__article__title">First Quarter</h1>
      <h2 class="h4 module__article__title">Quarter 1 - Month 1____ Month 2____Month 3____</h2>
    </article>
  </div>
</section>