<section class="row mb-3">
  <div class="col-12">
    <article class="module__article">
      <h1 class="h3 module__article__title">Module 2: My Magnificent Future!</h1>
      <p class="module__article__text serif-stack">
      The secret to living an abundant life is being able to envision what you truly desire, holding it in your heart and knowing you deserve it. In this module, you’ll discover what dreams and destinations are most meaningful for you, and how to connect with your deepest life purpose. You’ll also strengthen your inner game with mindset skills to continually support your Roadmap journey.
      </p>
    </article>
  </div>
</section>