<div>
  <article class="module__article container mb-5">
    <hgroup class="mb-3">
      <h1 class="h2 module__article__title">Tool #1: Fuel for My Future</h1>
      <h2 class="h3 module__article__title">Food is Your Life Force</h2>
    </hgroup>

    <blockquote class="blockquote serif-stack">
      <p class="serif-stack font-weight-bold">"The greatest wealth is health."</p>
      <footer class="blockquote-footer"><cite title="Virgil">Virgil</cite></footer>
    </blockquote>

    <p class="module__article__text serif-stack mb-4">
    Why do we eat?
    </p>
    <p class="module__article__text serif-stack mb-4">
    At the most basic level, we eat to survive. Every life force on this planet needs nourishment to live. Plants need sunlight, water, air and soil. Animals require water, protein, carbs and fats...even our cars need proper fuel to run.
    </p>
    <p class="module__article__text serif-stack mb-4">
    Without proper fuel for an extended amount of time these things will perish. Thus, in order for your vehicle (your body) to make it through this roadmap journey,  you need to give it the highest quality fuel possible!
    </p>
    <p class="module__article__text serif-stack mb-4">
    Think about it, what is it that you expect food to do for you? 
    </p>
    <p class="module__article__text serif-stack mb-4">
    If you expect food to provide you with energy, balance and satiety - you're on the right track!
    </p>
    <p class="module__article__text serif-stack mb-4">
    Food is less about exact measurements of calories, grams or ounces and more about how it makes you feel. And everyone is different.  You may require more protein, or carbs, or fats, than others, it depends on your genetics, lifestyle, goals and environment. Embrace your uniqueness and stop seeking advice outside of you to figure out what your body needs. Instead, the knowledge you've learned about health, and combine it with your personal experience to find what YOUR body craves for optimal strength, mental clarity and exuberance!
    </p>
    <p class="module__article__text serif-stack mb-4">
    Essentially, what you eat ultimately determines how your body functions. When the foods you eat are broken down through the digestive process, your internal system is massively affected.
    </p>
    <p class="module__article__text serif-stack mb-4">
    Foods can cause inflammation in the body or stimulate an environment of health and healing. Your energy levels, moods and a wide variety of other functions are dramatically influenced by how you feed and fuel your body.
    </p>
    <p class="font-weight-bold module__article__text serif-stack mb-5">
      Being acutely aware of what you are consuming is the best way to learn how to achieve your greatest health!
    </p>
    <hgroup class="mb-3">
      <h1 class="h2 module__article__title">R (Reflect)</h1>
      <h2 class="h3 module__article__title">Health Symptoms</h2>
    </hgroup>
    <p class="module__article__text serif-stack mb-4">
    Your body is brilliant! It will tell you a lot if you learn how to listen to the messages it sends.
    </p>
    <p class="module__article__text serif-stack mb-4">
    Skin impurities, digestive complaints, aches and pains, and other ailments are all messages your body is using to tell you that you are out of balance. We often ignore these symptoms or get so used to them, we pass them off as "normal" and choose to suffer with less than optimal conditions.
    </p>
    <p class="module__article__text serif-stack mb-4">
    Begin this section by identifying any messages your body is sending you about your current state of health and vitality. Rate yourself in the Health Inventory Checklist found on page 3 and 4 of your workbook.
    </p>
    <p class="module__article__text serif-stack mb-4">
    After you complete the whole list, take note of all the symptoms you may be tolerating without even realizing it. Finish this section by identifying and writing down 3 health concerns, goals or commitments you intend to address on your roadmap journey.
    </p>
    <hgroup class="mb-3">
      <h1 class="h2 module__article__title">O (Observe)</h1>
      <h2 class="h3 module__article__title">Video 2: Food is Your Fuel</h2>
    </hgroup>
    <p class="module__article__text serif-stack mb-4">
    Flip to page 5 and 6 of your workbook to jot down any notes that come up for you as you watch the video below, and gain a better understanding of the fuel your body needs.
    </p>
    <hgroup class="mb-3">
      <h1 class="h2 module__article__title">O (Observe)</h1>
      <h2 class="h3 module__article__title">Video 2: Food is Your Fuel</h2>
    </hgroup>
    <p class="module__article__text serif-stack mb-4">
    Flip to page 5 and 6 of your workbook to jot down any notes that come up for you as you watch the video below, and gain a better understanding of the fuel your body needs.
    </p>
    <div class="player-wrapper mb-4">
      <ReactPlayer
        url="https://youtu.be/s8Vtmg-4XeU"
        width="100%"
      />
    </div>
    <hgroup class="mb-3">
      <h1 class="h2 module__article__title">A (Act)</h1>
      <h2 class="h3 module__article__title">Food Journal</h2>
    </hgroup>
    <p class="module__article__text serif-stack mb-4">
    This exercise may be one of the most game-changing exercises you will ever do for your energy and vitality! It's called a Food Journal!
    </p>
    <p class="module__article__text serif-stack mb-4">
    Record EVERYTHING you consume (food or drink) and the time you consume it for 10 days. Also record how you feel before you consumed something, how you feel while you are eating and how you feel 2 hours after you finish eating it!
    </p>
    <p class="module__article__text serif-stack mb-4">
    Here are the guidelines:
    </p>
    <p class="module__article__text serif-stack mb-4">
    1. For the first three days - don't change a thing. Just eat what you normally eat.
    </p>
    <p class="module__article__text serif-stack mb-4">
    2. Be honest and mindful with this practice. You may be tempted to only record the "healthy" foods you consume - but this in't the point! Don't judge what you eat.  Just record it.  You want an honest reflection of your nutrition for 10 days.  If you're eating take-out put it in your journal, if you're at a party, make your food journal a priority, and record it at your earliest convenience. [Hint: This journal may be something you want to print out if you do not have your device with you while you eat.]
    </p>
    <p class="module__article__text serif-stack mb-4">
    3.  After 3 days, if you feel inspired to change how you eat, go for it! You may want to focus on adding whole foods (foods you can find in nature), humanely grown meats and organic produce. You may want to reduce or eliminate packaged and processed foods found in the middle of the grocery store, and add more delicious nature food sources found in the outer sections.
    </p>
    <p class="module__article__text serif-stack mb-4">
    Try new recipes at home and record how your body feels! Use different ingredients, spices, herbs and eat different amounts of protein, carbohydrates and fats and listen to the messages from your body.
    </p>
    <p class="module__article__text serif-stack mb-4">
    Have fun with it!  Make it a family challenge or try it with your partner or a friend. You are a scientist, your body is the lab and your food intake is the experiment!
    </p>
    <p class="module__article__text serif-stack mb-4">
    Be open and courageous to try something new.
    </p>
    <p class="module__article__text serif-stack mb-4">
    Things you may choose to try on are as an extended challenge are:
    </p>
    <p class="module__article__text serif-stack mb-4">
    1. Eliminating a food group such as dairy, soy, gluten or any category of your choice. This is fascinating to see what you learn about you!
    </p>
    <p class="module__article__text serif-stack mb-4">
    2. Choose a particular style of eating like paleo, vegetarian, vegan, etc., for a week or so to see how you feel. 
    </p>
    <p class="module__article__text serif-stack mb-4">
    There are many options for you to think about and explore. Your health is your life force and you deserve to feel amazing everyday. You are worth this effort. The results you will receive will be magical if you do the work. DO NOT MISS OUT! DO THE WORK!
    </p>
    <p class="module__article__text serif-stack mb-4">
    Download the Food Journal below and print out 10 or more copies.  Complete one every day for at least 10 days. Have fun with this experiment!
    </p>
    <p class="module__article__text serif-stack mb-4">
    (Of course, you may choose to use an app on a mobile device - it's your choice!)
    </p>

    <hgroup class="mb-3">
      <h1 class="h2 module__article__title">D (Decide)</h1>
      <h2 class="h3 module__article__title">Commit to the Filling Out the Food Journal</h2>
    </hgroup>
    <p class="module__article__text serif-stack mb-4">
    The food journal may seem like a daunting task at first, but it is truly transformational!
    </p>
    <p class="module__article__text serif-stack mb-4">
    Decide what format you will use and what ways you want to experiment with - removing a food group, eating only whole foods and nothing processed, etc.
    </p>
    <p class="module__article__text serif-stack mb-4">
    Be excited! This is life changing. You will learn so much about what your body needs to thrive. Commit to completing your journal for at least 10 days!  Think about it, your homework is to eat food, how amazing is this?
    </p>
    <p class="module__article__text serif-stack mb-4">
    After you complete this activity, come back to page 9 every few days and document what you discover about YOU. Ask for support, clarity and share your insights with us in the Facebook Group!
    </p>
    <p class="module__article__text serif-stack mb-4">
    This is so great - you'll see!
    </p>
  </article>
</div>