<section class="row mb-3">
  <div class="col-12">
    <article class="module__article">
      <h1 class="h3 module__article__title">Second Quarter</h1>
      <h2 class="h4 module__article__title">Quarter 2 - Month 4____ Month 5____Month 6____</h2>
    </article>
  </div>
</section>